body {
  margin: 0;
  padding: 0;
  font-family: "Candara", "Century Gothic";
  background: linear-gradient(89deg, #ff5edf 0%, #de043b 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
